<html>
	<head>
		<title>Allowance Overview</title>
	</head>
	<body>
		<h1 id="allowance_overview">Allowance Overview</h1>
		Welcome to your allowance overview. This is where you will see information about your allowance.<br />
		<hr />

		It is now <%= @time %>
		<br />
		
		
		<%= link_to "This Week's Allowance", :action => "this_week" %>
	</body>
</html>